body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
}

.min-vh-80 {
    min-height: 80vh;
}

.mix-blend-mode-hard-light {
    mix-blend-mode: hard-light;
}

.mix-blend-mode-plus-darker {
    mix-blend-mode: plus-darker;
}

